<div class='user-info'>

    <table class='table table-striped table-dark'>
    <tr>
      <th scope='col' width=10%>Id:</th>
      <td width=70%><%= profile.id %></td>
    </tr>
    <tr>
      <th scope='col'>Name:</th>
       <td><%= profile.name %></td>
    </tr>
    <tr>
      <th scope='col'>Email:</th>
      <td><%= profile.email %></td>
    </tr>
    <tr>
      <th scope='col'>Active:</th>
      <td><%= profile.is_active %></td>
    </tr>
</table>

</div>
